@define-mixin atSmallest {
    @media (min-width: 352px) {
        @mixin-content;
    }
}

@define-mixin atSmall {
    @media (min-width: 550px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}


@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}