.basic-content-container {
    &__para {
        line-height: 1.35;
        margin: 1.8rem 0;
    }

    &--centered-text {
        text-align: center;
    }

    &--img-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 3px;
    }
}